.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw;
  height: 65px;
  width: 100%;
  background-color: #1d1d1d;
  color: white;

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (min-width: 768px) {
      gap: 1.5rem;
    }
  }
}
