.searchContainer {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #1d1d1d;
  border-radius: 100px;
  padding: 2px 12px;
  width: clamp(140px, 25vw, 400px);

  form {
    width: 100%;
  }

  input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
  }
}
