.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10vw;
  background-color: #ccc;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 16px;
}
